.gif
{

float:left;
margin: 0px;
padding: 12px;
}
#buttons-view, #view{
    padding: 10px;
}
body, html {
   
    background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(11).jpg");
    /* background-size: cover; */
    background-repeat: no-repeat;
}
                 /* { 
                     The image used
                

                     Half height 
                
                height: 100%;
                     Center and scale the image nicely 
                    background-position: center;
                    background-repeat: no-repeat;
                
                } */
                .center {
                    margin: auto;
                    width: 50%;
                    text-align: center;
                    padding: 10px;
                }